@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 10em;
}

.title {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

a:hover {
    font-weight: bold;
}

/* Styling for the Intro section */
.awesome {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 10em;
    gap: 40px;
    
}

.signup h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.signup p {
    font-size: 18px;
    color: #e5e7eb;
}

.image img {
    width: 300px;
    height: auto;
}

/* Styling for the Meet the Pack section*/
.meet {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px 0px 150px;
}

.ratties {
    display: flex;
    padding: 50px 150px;
    text-align: center;
    justify-content: center;
}

.ratcontainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;

}

.ratinfo {
    max-width: 100px;
    font-size: 12px;
    color: #1F2937;
}

.ratinfo img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

/* Styling for the quote section */
.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 10em;
    
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-source {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}

/* Styling for the Action section */
.action {
    padding: 3em 10em;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    padding: 3em 2em;
    border-radius: 8px;
    gap: 20px;
    /*color: #f9faf8;
    font-size: 12px;*/
}

.action-text {
    display: flex;
    flex-direction: column;
}

.bold-action {
    font-size: 18px;
    font-weight: 900;
    color: #f9faf8;
}

.notbold-action {
    font-size: 12px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid #f9faf8;
    border-radius: 2px;
    min-width: 75px;
    padding: 5px;
}

.signup button {
    border: 0;
}

footer {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}