@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
}

header {
    background-color: #455673;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10em 3em 10em;
}

.title {
    color: #fff;
    font-size: 24px;
    display: flex;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

a:hover {
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

/* Styling for the Intro section */
.introduction {
    background-color: #455673;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 10em;
    gap: 40px;
    
}

.signup h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.signup p {
    font-size: 18px;
    color: #e5e7eb;
    font-family: 'Josefin Slab', sans-serif;
}

.image img {
    width: 300px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 5px;
}

/* Styling for the Meet the Pack section*/
.meet {
    font-size: 36px;
    font-weight: 900;
    color: #455673;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px 0px 150px;
}

.ratties {
    display: flex;
    padding: 50px 150px;
    text-align: center;
    justify-content: center;
}

.ratcontainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;

}

.ratinfo {
    max-width: 150px;
    font-size: 14px;
    color: #455673;    
}

.ratinfo img {
    width: 150px;
    height: 150px;
    border: 2px solid #6997af;
    border-radius: 5px;
}

/* Styling for the quote section */
.quote {
    background-color: #E2DEEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 10em;
    
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Josefin Slab', sans-serif;
    color: #455673;
    text-align: right;
}

.quote-source {
    font-size: 18px;
    font-weight: bold;
    color: #6e5c90;
    display: flex;
    align-self: flex-end;
}

/* Styling for the Action section */
.action {
    padding: 3em 10em;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6997af;
    padding: 3em 2em;
    border-radius: 8px;
    gap: 20px;
}

.action-text {
    display: flex;
    flex-direction: column;
}

.bold-action {
    font-size: 18px;
    font-weight: 900;
    color: #f9faf8;
}

.notbold-action {
    font-size: 14px;
    color: #e5e7eb;
}

button {
    background-color: #6997af;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    min-width: 75px;
    padding: 5px;
}

/* Styling for the footer */
footer {
    background-color: #455673;
    color: #fff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 10em;
}

footer p {
    padding: 0px;
    margin: 0px;
}

footer a {
    font-size: 12px;
}